<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Raceinfo</title>
</head>
<body>
<p>race_id: <%= race_id %></p>
<p>race_info:<br/> <%= race_info %></p>
<p>race_results:<br/> <%= race_results %></p>
</body>
</html>